<h1>Send request</h1>
<div>
    <form action="{{ route('kaba') }}" method="POST">
        <label for="message">Message </label>
        <input id="message" name="message" type="text" placeholder="here put your message, for KABA API"/>
        <input type="submit" />
    </form>
    <p>{{ content_sended }}</p>
</div>